<nav id="js-primary-nav" class="primary-nav nav-function-top" role="navigation">
    <div class="nav-filter">
        <div class="position-relative">
            <input type="text" id="nav_filter_input" placeholder="Filter menu" class="form-control" tabindex="0">
            <a href="#" onclick="return false;" class="btn-primary btn-search-close js-waves-off" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar">
                <i class="fal fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <div class="info-card">
        <img src="" class="profile-image rounded-circle" alt="#">
        <div class="info-card-text">
            <a href="#" class="d-flex align-items-center text-white">
                <span class="text-truncate text-truncate-sm d-inline-block">

                </span>
            </a>
            <span class="d-inline-block text-truncate text-truncate-sm"></span>
        </div>
        <img src="NewContent/img/card-backgrounds/cover-2-lg.png" class="cover" alt="cover">
        <a href="#" onclick="return false;" class="pull-trigger-btn" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar" data-focus="nav_filter_input">
            <i class="fal fa-angle-down"></i>
        </a>
    </div>

    <AuthorizeView>
        <Authorized>
            @*<ul id="js-nav-menu" class="nav-menu">
            <li>
              
                    <a href="/Projects" title="Register Project" data-filter-tags="font icons fontawesome">
                        <i class="fal fa-info-circle"></i>
                        <span class="nav-link-text" data-i18n="nav.font_icons_fontawesome">+ Projects</span>
                    </a>
                </li>
                <li>
                    <a href="/Projects" title="Register Customer" data-filter-tags="font icons fontawesome">
                        <i class="fal fa-info-circle"></i>
                        <span class="nav-link-text" data-i18n="nav.font_icons_fontawesome">+ Customers</span>
                    </a>
                </li>
                <li>
                    <a href="/Projects" title="Register Techn Staff" data-filter-tags="font icons fontawesome">
                        <i class="fal fa-info-circle"></i>
                        <span class="nav-link-text" data-i18n="nav.font_icons_fontawesome">+ Technical Staff</span>
                    </a>
              
             </li>
                <li>
                    <a href="/Projects" title="Register Techn Staff" data-filter-tags="font icons fontawesome">
                        <i class="fal fa-info-circle"></i>
                        <span class="nav-link-text" data-i18n="nav.font_icons_fontawesome">+ Support Engineers</span>
                    </a>

                </li>
                <li>
                    <a href="/Projects" title="Register Techn Staff" data-filter-tags="font icons fontawesome">
                        <i class="fal fa-info-circle"></i>
                        <span class="nav-link-text" data-i18n="nav.font_icons_fontawesome">+ Add Tickets</span>
                    </a>

                </li>

            </ul>*@

            <ul id="js-nav-menu" class="nav-menu">
              
               
              
                <li>
                    <a href="/Tickets" title="Register Techn Staff" data-filter-tags="font icons fontawesome">
                        <i class="fal fa-info-circle"></i>
                        <span class="nav-link-text" data-i18n="nav.font_icons_fontawesome">+ Add Tickets</span>
                    </a>

                </li>

            </ul>

        </Authorized>
    </AuthorizeView>
    <div class="filter-message js-filter-message bg-success-600"></div>
</nav>

@code {
   
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }


}
